.thank-you-container {
  padding: 100px 0;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thank-you-header {
  color: #cc34ab;
}

#order-summary-header {
  color: #cc34ab;
}

#no-order-header {
  color: #cc34ab;
}

#no-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
