.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

#thank-you-header {
  color: #cc34ab;
}

#order-summary-header {
  color: #cc34ab;
}
