/* Ensure the html and body span the full viewport height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* The wrapper flex container takes up all available height */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Let the main content flex to fill the remaining space */
main {
  flex: 1;
}

footer {
  /* Just for demo styling */
  background: #ccc;
  text-align: center;
  padding: 1rem;
}
