.product-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;

	.product-image {
		max-width: 298px;
		max-height: 300px;
		position: absolute;
		transition: opacity 0.25s;
		cursor: pointer;
	}

	.card-content {
		margin-top: 30px;
		text-align: center;

		.product-name {
			font-family: 'Philosopher, sans-serif';
		}

		.price {
			font-family: 'Philosopher, sans-serif';
		}
	}

	.product-image:hover {
		opacity: 0;
		transition-timing-function: ease-in;
	}

	// TODO figure out how to do this with material UI makestyles()
	.product-image:hover + .quick-view-div {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-width: 350px;
		height: 65px;
		background-color: white;
		position: absolute;
		margin-top: 460px;
		z-index: 1;
		margin-left: 20px;
	}

	.product-image-overlay {
		max-width: 298px;
		max-height: 450px;
		cursor: pointer;
	}

	.product-image-overlay:hover {
		max-width: 298px;
		max-height: 450px;
		margin: 20px;
	}

	h2 {
		margin: 0;
	}

	.quick-view-div {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 0;
		max-width: 350px;
		height: 65px;
		background-color: white;
		position: absolute;
		margin-top: 460px;
		z-index: 10;
		margin-left: 20px;
		overflow: hidden;
		transition: display 0.25s;
	}

	.line-break {
		width: 100px;
		border: 1px solid;
	}
}
