.product-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.product-image {
		width: 350px;
		height: 500px;
		margin: 20px;
		position: absolute;
		transition: opacity 0.25s;
	}

	.product-image:hover {
		opacity: 0;
		transition-timing-function: ease-in;
	}

	.product-image:hover + .quick-view-div {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-width: 350px;
		height: 65px;
		background-color: white;
		position: absolute;
		margin-top: 460px;
		z-index: 1;
		margin-left: 20px;
	}

	.product-image-overlay {
		width: 350px;
		height: 500px;
		margin: 20px;
	}

	.product-image-overlay:hover {
		width: 350px;
		height: 500px;
		margin: 20px;
	}

	h2 {
		margin: 0;
	}

	.quick-view-div {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 0;
		max-width: 350px;
		height: 65px;
		background-color: white;
		position: absolute;
		margin-top: 460px;
		z-index: 10;
		margin-left: 20px;
		overflow: hidden;
		transition: display 0.25s;
	}

	.line-break {
		width: 100px;
		border: 1px solid;
	}
}
