.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 100px 50px 0;
  font-family: 'Philosopher', 'sans-serif';
}

.image-and-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600;
}

.image-container {
  margin: 50px 0;
}

.owner-image {
  height: 500px;
  width: 300px;
  border-radius: 10rem 10rem 0 0;
  object-fit: cover;
}

.about-text {
  font-family: 'Philosopher', 'sans-serif';
  text-align: center;
  margin: 10px;
}

.adams-slogan {
  font-family: 'Philosopher', 'sans-serif';
  text-align: center;
  margin: 10px;
  color: #cc34ab;
}

.about-header {
  color: #cc34ab;
  font-family: 'Philosopher', 'sans-serif' !important;;
}

.see-collection-link {
  text-decoration: none;
  margin: 90px 0 100px;
  color: #cc34ab;
}

.link-text {
  margin: 0;
}

.text-border {
  border: 6px solid #cc34ab;
  padding: 30px;
}

