.container {
	position: relative;
	min-height: 100vh;
}

.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.carousel-text {
	text-align: center;
	position: absolute;
	z-index: 100;
	color: white;
	font-family: 'Philosopher', sans-serif;

	#carousel-subtitle {
		font-size: 1.5rem;
	}

	.carousel-header {
		font-size: 15rem;
		font-weight: normal;
		margin: 0;
	}

	.link-container {
		display: flex;
		justify-content: center;
	}

	.shop-link {
		font-size: 1.5rem;
	}
}

.options {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 150px 0;
}

.option-images {
	width: 350px;
	height: 550px;
	margin: 30px;
}

.shop-link {
	color: white;
	width: auto;
}

.option-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.option-header {
	position: absolute;
	z-index: 1;
}

.content-wrapper {
	padding: 2.5rem 200px;
}

@media only screen and (max-width: 800px) {
	.carousel-text {
		text-align: center;
		position: absolute;
		z-index: 100;
		color: white;
		font-family: 'Philosopher', sans-serif;

		#carousel-subtitle {
			font-size: 1rem;
		}

		.carousel-header {
			font-size: 10rem;
			font-weight: normal;
			margin: 0;
		}

		.shop-link {
			font-size: 1rem;
		}
	}
}
