.container {
}

.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.carousel-text {
	text-align: center;
	position: absolute;
	z-index: 100;
	color: white;
}

.options {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 150px 0;
}

.option-images {
	width: 350px;
	height: 550px;
	margin: 30px;
}

.shop-link {
	color: white;
}

.option-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.option-header {
	position: absolute;
	z-index: 1;
}

.content-wrapper {
	padding: 0 200px;
}
