.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 325px;
  margin-top: 100px;
  padding-top: 70px;
  @media (max-width: 960px) {
    flex-direction: column;
    justify-content: center;
  }
}

.shipping-container {
  display: flex;
  justify-content: space-between;
}

.tax-container {
  display: flex;
  justify-content: space-between;
}

.cart-items-container {
  width: 65%;
  margin-right: 50;
  @media (max-width: 960px) {
    width: 100%;
  }
}

.empty-cart-container {
  margin-top: 200px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.empty-text {
  font-family: "Philosopher", "sans-serif";
  font-size: 30px;
}

.empty-button {
  min-width: 25%;
  background-color: #cc34ab !important;
  @media (max-width: 960px) {
    margin-bottom: 50px !important;
  }
  @media (max-width: 500px) {
    background-color: red !important;
  }
}
.empty-button:hover {
  background-color: red !important;
}

.empty-button-container {
  display: flex;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
}

.checkout-button-container {
  display: flex;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
}

.subtotal-container {
  display: flex;
  justify-content: space-between;
}

.total-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkout-button {
  width: 100%;
  background-color: #cc34ab !important;
  color: #fff;
}

.checkout-button:hover {
  background-color: #b32093 !important;
}

.divider {
  background-color: #000;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
}

.order-summary-container {
  width: 25%;
  @media (max-width: 960px) {
    width: 100%;
  }
}
