.account-settings-container {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 40px;
  
  .page-title {
    margin-bottom: 24px;
    font-weight: 500;
  }
  
  .account-paper {
    padding: 24px;
    
    .account-header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }
  }
}