.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow: hidden;
}

.image-div-1 {
  background-image: url('../../../assets/steph/steph-smoke.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: 50% 40%;
}
.image-div-2 {
  background-image: url('../../../assets/steph/steph-laid.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: 53% 40%;
  @media (max-width: 900px) {
    background-position: 10% 40%;
  }
}

.image-div-3 {
  background-image: url('../../../assets/glassware/steph-and-glassware.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: 60% 70%;
}

.image-div-4 {
  background-image: url('../../../assets/steph/steph-smile.jpg');
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
}

.hero-overlay-container {
  display: flex;
  justify-content: center;
}

.hero-overlay {
  margin-top: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 2;
  @media (max-width: 960px) {
    width: 275px;
    height: 275px;
  }
}

.hero-subtitle {
  position: absolute;
  color: #fff;
  font-family: 'Philosopher', 'sans-serif' !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  z-index: 2;
  top: 480px;
  // @media (max-width: 1200px) {
  //   top: 480px;
  // }
  @media (max-width: 960px) {
    top: 410px;
  }
}

.shop-link {
  position: absolute;
  z-index: 2;
  font-size: 1.5rem;
  color: #e646c3;
  cursor: pointer;
  top: 520px !important;
  // @media (max-width: 1200px) {
  //   top: 520px !important;
  // }
  @media (max-width: 960px) {
    top: 490px !important;
  }
}