.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-text {
  text-align: center;
  position: absolute;
  z-index: 100;
  color: #fff;
  font-family: 'Philosopher', 'sans-serif';
  margin-bottom: 200px;
}

.home-logo {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  // [theme.breakpoints.down('lg')]: {
  //   width: 450,
  //   height: 450,
  // },
  // [theme.breakpoints.down('md')]: {
  //   width: 400,
  //   height: 400,
  // },
  // [theme.breakpoints.down('sm')]: {
  //   marginTop: 200,
  //   width: 275,
  //   height: 275,
  // },
}

.carousel-subtitle {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 90px;
  // [theme.breakpoints.down('md')]: {
  //   fontSize: '1.3rem',
  // },
  // [theme.breakpoints.down('xs')]: {
  //   fontSize: '1.1rem',
  // },
}

.shop-link {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  // [theme.breakpoints.down('md')]: {
  //   fontSize: '1.3rem',
  // },
  // [theme.breakpoints.down('xs')]: {
  //   fontSize: '1.1rem',
  // },
}

.link-text {
  margin: 0;
}